*{
    padding:0;
    margin:0;
    font-size: 16px;
}
:root{
    --color-oscuro1: #021c1e;
    --color-oscuro2: #004445;
    --color-medio1: #2c7873;
    --color-medio2: #6fb98f;
    font-family: 'Literata', serif;
    font-family: 'Prata', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 0.6rem;
    text-align: justify;
}
#body{         
    width: minmax(100%, 1300px);
    height:2500px;  
    margin: auto;      
    display: grid; 
    grid-template-areas:"g1" "g2" "g3" "g4" "g5" "g6" "g7" "g8" "g9";
    grid-template-columns:1fr;
    grid-template-rows:300px minmax(150px, 200px) 50px 500px 50px 740px 50px 360px 200px;
/*///////////////////////////////////////////*/
}/*///////////////   FOLD  /////////////////*/
/*/////////////// PARALLAX  //////////////*/
#five{
    width: 100%;
    height: 100%;
    background: url(IMG-/BOSQUE/five.png); 
    background-repeat: no-repeat;        
    background-size: 100% 100%;
   /* background-attachment: fixed;    
    background-position: bottom;  */  
    z-index: 2;    
    grid-area:g1;
}
#four{
    width: 100%;
    height: 100%;
    background: url(IMG-/BOSQUE/four.png);  
    background-repeat: no-repeat;   
    background-size: 100% 100%;     
   /* background-attachment: fixed;
    background-position: center;*/
    z-index: 3;
    grid-area:g1;
}
#tres{
        
    width: 100%;
    height: 100%;
    background: url(IMG-/BOSQUE/tres.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  /*  background-attachment: fixed;  
   background-position: bottom;*/   
    z-index: 4;
    grid-area:g1;
}
#dos{
    width: 100%;
    height: 100%;     
    background: url(IMG-/BOSQUE/dos.png);
    background-repeat: no-repeat;   
    background-size: 100% 100%;
   /* background-attachment: fixed;   
    background-position: bottom;*/
    z-index: 5;
    box-sizing: border-box; 
    grid-area:g1;
}
#uno{
    width: 100%;
    height: 100%; 
    background: url(IMG-/BOSQUE/uno.png);
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    z-index: 6;   
    box-sizing: border-box; 
    grid-area:g1;
}
#boxcuadro{    
    background: linear-gradient(#bce7e4, orange );   
    width: 100%;
    height:100%;
    grid-area: g1;
}
/*//////////  WELCOME-SECTION  /////*/
#header{
    grid-area:g1;
    z-index: 7;
    display: grid;
    grid-template-columns:1fr 3fr 2fr 3fr 1fr;
    grid-template-rows:1fr 1fr 2fr 2fr 3fr 2fr 1fr;
}
#header h3{
    grid-area: 2/2/3/4;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    align-self: end;
    font-family: 'Literata', serif;
}
#header h2{
    grid-area: 4/2/5/5;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-family: 'Literata', serif;
}
#header h1{
    grid-area: 3/2/4/5;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size:1.5rem;
    font-family: 'Prata', serif;
}
#redes{
    grid-area: 5/3/6/5;
}
#interructor{
    grid-area: 6/3/7/4;
    justify-self: center;
}
.redes{
    width: 2vmax;
    background: white;
    border-radius: 5px;
    align-items: flex-end;
    padding: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); 
}
.redes:hover{
    background: var(--color-medio1);
    border:1px solid white;
}

#interructor{
    width: 2vmax;
    height: 4vmax;
    border: 2px solid white;
    z-index: 7;
    border-radius: 10px;     
    margin-left: 1vmax;
    justify-content: center;
    align-items: flex-end;    
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    padding-top: 0px;
}
#bolita{
    width:1.3vmax;
    height: 1.3vmax;
    border-radius:50%;
    background: white;
    z-index: 7;
    align-self: start;  
    margin-top: 0px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); 
    animation-name: subebaja;
    animation-duration:1.5s;
    animation-iteration-count: infinite;
}
@keyframes subebaja{
0%{
    opacity: 0.2;
}

50%{
    opacity: 0.5;
    align-self: center;
}

100%{
    align-self: flex-end;
}
}
/*////////////// NAV - MENU /////////////*/
.menu-wrap{
    position: fixed;  
    top: 0;
    left: 0;    
    z-index: 9;
}
.menu-wrap .toggler{
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 4vw;
    height: 5vh;
    padding: 0.2rem;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.6;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
}
.menu-wrap .hamburger > div{
    position: relative;
    width: 80%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before, 
.menu-wrap .hamburger > div:after{
    content:'';
    position: absolute;
    z-index: 9;
    top: -10px;
    width: 100%;
    height:2px;
    background: inherit;
}
.menu-wrap .hamburger > div:after{
    top: 10px;
}
.menu-wrap .toggler:checked + .hamburger>div{
    transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger>div:before,
.menu-wrap .toggler:checked + .hamburger>div:after{
    top: 0;
    transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0,4s ease;
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;

}
/*////////  RESUMEN ////////*/
#resumen{
    grid-area: g2;
    background:url(IMG-/fondoNegro.png);
    color: var(--color-medio2);
    padding: 5px;
   

}
/*///////  ABOUT-ME /////////*/
.fondoBosque{
    grid-area: g3;
    align-self: center;
    justify-self: center;
    background:url(IMG-/BOSQUE4x.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Literata', serif;
    color: var(--color-oscuro2);    
    padding-top: 10px;
    height: 40px;
    width: 100%;
    text-align: center;
}
#informacion{
    grid-area: g4;
    background: hsl(0, 0%, 94%);
    padding: 5px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid rgba(0, 68, 69, 0.5);
}
#informacion li{
    font-size: 0.8rem;
    color: var(--color-oscuro2);
}
#informacion email{
    font-size: 0.8rem;
}
#portrait{
    grid-area: 3/2/4/3; 
    justify-self: center;
    align-self: center;   
}
#portrait img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin: 10px;
}
ul{
    grid-area: 2/2/3/3;
    align-self: center;
 }
#profesionalSkill{
    grid-area:4/2/5/3;
    align-self: center;
    color: var(--color-oscuro2);
}
.redes2{
    width: 2vmax;
    background: white;
    border-radius: 5px;
    align-items: flex-end;
    padding: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); 
    margin-top: 20px;
}
.redes2:hover{
    background: var(--color-medio1);
    border:1px solid white;
}
/*/////////// PROYECTOS ///////////*/
#projectT{
    grid-area:g5;
}
#proyectos1{
    grid-area: g6;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-gap: 5px;
    background: hsl(0, 0%, 94%);
    -webkit-perspective: 3000;
    perspective: 3000;
    border: 2px solid rgba(0, 68, 69, 0.5);
}
#p1{ grid-area:1/1;} #p2{grid-area:3/1;} #p3{grid-area:5/1;} #p4{grid-area:7/1;} #p5{grid-area:9/1;}
#hp1{grid-area:2/1;} #hp2{grid-area:4/1;} #hp3{grid-area:6/1;} #hp4{grid-area:8/1;} #hp5{grid-area:10/1;}

.proyectoImg{
    width: 100%;   
    height: 100%;
}

.proyectos{
    margin: 2px;
    transform-style: preserve-3d;
    transition: 2s;
    height: 100px;
    width: 200px;
    justify-self:center;
    align-self: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
   
}

.proyectos:hover{
    transform: rotateY(180deg);
}
.lado{
  backface-visibility: hidden;
    
}
.lado p{
    position: absolute;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-size: 30px;    
    margin-left: 50%;
    backface-visibility: hidden;
}
.frente{
    position: absolute;
    width: 100%;
    height: 100%;    
}
.enves{
    position: absolute;    
    width: 100%;
    height: 100%;
    background: var(--color-oscuro1);
    color: white;   
    transform: rotateY(180deg);
}
.enves p{
    margin:30px 10px 10px 10px;
    font-size: 2.5vmin;;
}
.proRef{
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color:var(--color-oscuro1);
    font-size: 0.8rem;
}
/*//////////  LOGROS  /////////*/
#logrosT{
    grid-area: g7;
}
#logros{
    grid-area: g8;
    background: hsl(0, 0%, 94%);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid rgba(0, 68, 69, 0.5);
}

#logros ul{  
    padding: 20px;
    margin: auto;
    font-size: 0.8rem;
    grid-area:1/1;
}
#logros li{
    font-size: 0.8rem;
}
#estudios{    
    position: relative;
    width:210px;
    height: 100px;
    background: rgba(30, 30, 150, 0.5);
    border-radius: 5px;
    margin: auto;
    grid-area:2/1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.certificados{
    position: absolute;
    width:94px;
    height: 75px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    top:10px;
    left: 10px;
    border-radius: 6px;
    transition: z-index, 1s;
    box-shadow: -4px 3px 3px rgba(0, 0, 0, 0.3);
}
#c1{
    left: 20px;
    background: url(IMG-/LOGROS/sena_java.png);
    background-size: cover;
    z-index: inherit 0;    
}
#c1:hover{
    z-index: 2;
    height: 30vmin;
    width:40vmin;
 }
#c2{
    left: 30px;
    background: url(IMG-/LOGROS/sena_sistemasInformaticos.png);
    background-size: cover;
}
#c2:hover{
    z-index: 2;
    height: 30vmin;
    width:40vmin;
 }
#c3{
    left: 40px;
    background: url(IMG-/LOGROS/soloLearn_html.png);
    background-size: cover;
}
#c3:hover{
    z-index: 2;
    height: 30vmin;
    width:40vmin;
 }
#c4{
    left: 50px;
    background: url(IMG-/LOGROS/sololearn_jquery.png);
    background-size: cover;
}
#c4:hover{
    z-index: 2;
    height: 30vmin;
    width:40vmin;
 }
#c5{
    left: 60px;
    background: url(IMG-/LOGROS/sololearn_java.png);
    background-size: cover;
}
#c5:hover{
    z-index: 2;
    height: 30vmin;
    width:40vmin;
 }
#c6{
    left: 70px;
    background: url(IMG-/LOGROS/sololearn_javaScript.png);
    background-size: cover;
}
#c6:hover{
    z-index: 2;
    height: 30vmin;
    width:40vmin;
 }
#c7{
    left: 80px;
    background: url(IMG-/LOGROS/freecodecamp.png);
    background-size: cover;
}
#c7:hover{
    z-index: 2;
    height: 30vmin;
    width:40vmin;
 }
/*///////////  FOOTER  //////////*/
footer{
    grid-area: g9;
    background: url(IMG-/fondoNegro.png);
    color: var(--color-medio2);
}




/*/////////////////////////*/
/*//////   QUERYS   ///////*/
/*////////////////////////*/
@media(min-width:350px){
    #body{ 
        
        grid-template-rows: 400px minmax(150px, 200px) 50px 500px 50px 850px 50px 355px 200px;
    }   
    #estudios{
        
        width: 260px;
        height: 150px;
    }
    .certificados{
        width:145px;
        height: 110px;
    }
                       

    #proyectos1{
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    }    
    #p1{ grid-area:1/1/2/2;} #p2{grid-area:2/1/3/2;} #p3{grid-area:3/1/4/2;} #p4{grid-area:4/1/5/2;} #p5{grid-area:5/1/6/2;}
    #hp1{grid-area:1/2/2/3;} #hp2{grid-area:2/2/3/3;} #hp3{grid-area:3/2/4/3;} #hp4{grid-area:4/2/5/3;} #hp5{grid-area:5/2/6/3;}

    #proyectos1 a{        
        justify-self: start;
    }
    .proyectos{
        height: 120px;
        width: 220px;
    }


    #portrait img{
        width: 120px;
        height: 120px;
        }        
    p{
        font-size: 0.8rem;        
    }
    #resumen p{
        padding-top: 5%;
        padding-left:5%;    
    }
    #header h1{
        font-size:2rem ;
    }
    #header h2{
        font-size:1.5rem ;
    }
    #header h2 span{
        font-size:1.5rem ;
    }
    #header h3{
        font-size:1.5rem ;
    }
}
@media(min-width:550px){
    #body{ 
        grid-template-rows:500px minmax(150px, 200px) 50px 250px 50px 650px 50px 300px 200px;
        height:2250px; 
    }
    #logros{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #logros ul{  
        grid-area:1/1;
        margin-left: 20px;
    }
    #estudios{
        grid-area:1/2;
        
    }
    

    #proyectos1{
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
        grid-gap:5px;
        }    
        #p1{ grid-area:1/1/2/2;} #p2{grid-area:1/2/2/3;} #p3{grid-area:3/1/4/2;} #p4{grid-area:3/2/4/3;} #p5{grid-area:5/1/6/2;}
        #hp1{grid-area:2/1/3/2;} #hp2{grid-area:2/2/3/3;} #hp3{grid-area:4/1/5/2;} #hp4{grid-area:4/2/5/3;} #hp5{grid-area:6/1/7/2;}


    .proyectos{
        height: 150px;
        width: 250px;    
        margin:8px;    
    }
    #proyectos1 a{        
        justify-self: center;
    }                                                          
      #informacion{
        grid-template-columns:  1fr 1fr 1fr  ;
        grid-template-rows: 0.1fr 1fr 0.1fr ;
    }

      #portrait{
        grid-area: 2/3/3/4;           
    }
    #portrait img{
        width: 120px;
        height: 120px;
        }

    ul{
        grid-area: 2/2/3/3;
        margin-left:20px;
     }
     #profesionalSkill{
        grid-area:2/4/3/5;
        margin-left:20px;
        margin-right:20px;
    }  
   
   

}
@media(min-width:768px){
    
    *{      
        font-size: 20px;
    }
    #body{ 
        grid-template-rows:minmax(50vw, 650px) minmax(150px, 200px) 50px 250px 50px 450px 50px 300px 200px;
        height:2100px; 
    }
    #estudios{
        
        width: 280px;
        height: 170px;
    }
    .certificados{
        width:165px;
        height: 130px;
        margin-top: 20px;
    }
        

    #proyectos1{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
        grid-gap:5px;
        }    
        #p1{ grid-area:1/1/2/2;} #p2{grid-area:1/2/2/3;} #p3{grid-area:1/3/2/4;} #p4{grid-area:3/1/4/2;} #p5{grid-area:3/2/4/3;}
        #hp1{grid-area:2/1/3/2;} #hp2{grid-area:2/2/3/3;} #hp3{grid-area:2/3/3/4;} #hp4{grid-area:4/1/5/2;} #hp5{grid-area:4/2/5/3;}




    #portrait img{
        width: 150px;
        height: 150px;
        }
   
    #header h1{
        font-size:2rem ;
    }
    #header h2{
        font-size:1.5rem ;
    }
    #header h2 span{
        font-size:1.5rem ;
    }
    #header h3{
        font-size:1.5rem ;
    }
}
@media(min-width:992px){
    *{      
        font-size: 22px;
    }
    #header h1{
        font-size:3rem ;
    }
    #header h2{
        font-size:2rem ;
    }
    #header h2 span{
        font-size:2rem ;
    }
    #header h3{
        font-size:2rem ;
    }
}
@media(min-width:1200px){
    

}
